@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Hello world</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Hello world from Asp.net</a>.</p>
</div>
